@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');

* { margin: 0; padding: 0; }


html
{
	background-image: -webkit-radial-gradient(top center, circle cover, #E7E7E8 30%, #C6C6C6);
	background-image: -moz-radial-gradient(top center, circle cover, #E7E7E8 30%, #C6C6C6);
	background-image: -ms-radial-gradient(top center, circle cover, #E7E7E8 30%, #C6C6C6);
	background-image: -o-radial-gradient(top center, circle cover, #E7E7E8 30%, #C6C6C6);
	background-image: radial-gradient(top center, circle cover, #E7E7E8 30%, #C6C6C6);
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;


}
/*
#num{
		width: 560px;
		height: 560px;
}*/
h1
{

	text-align: center;
	font-family:  Helvetica;
	color: #000000;
	font-size: 400px;
	font-weight: 300;
	z-index: -1;
	font-style: "Bold"
}


p
{
	font-size: 30px;
}


/* Debug */

#debug
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
}
.myButton {
}
.myButton:hover {
}
.myButton:active {
}
