@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');

* {
		margin: 0; padding: 0;
		background-color: black;
 }

 #name {
	 margin : 30px;
 }

html
{



}

#direction{
		padding-left: 40px;
		padding-top: 60px;
		display: inline-block;
		font-size: 30px;
}


h1
{

	text-align: center;
	font-family:  Helvetica;
	color: #000000;
	font-size: 400px;
	font-weight: 300;
	z-index: -1;
	font-style: "Bold"
}


p
{
	font-size: 30px;
	font-family: sans-serif;
	font-style: oblique;
	color :white;
}


#result{
	padding-left: 10px;
	padding-top: 60px;
	display: inline-block;

}

#debug
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
}
.myButton {
}
.myButton:hover {
}
.myButton:active {
}
