{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
      <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

		<canvas id="canvas" width="560" height="560" style="border:8px solid; float: left; border-radius: 5px; cursor: crosshair;"></canvas>
			<input type="button" class ="myButton" value = "predict"/>
			<input type="button" id="clearButton" value="Clear">
			<h1 id="result" style="margin-right:0px; margin-top:0px;float:left;"></h1>

  		<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

	    <script src="{% static 'index.js' %}"></script>
	    <script type="text/javascript">
              canvas = document.getElementById("canvas");
              ctx = canvas.getContext("2d");
              ctx.lineWidth=20;
      </script>
	    <script type="text/javascript">

      $(".myButton").click(function(){

      	var canvasObj = document.getElementById("canvas");
      	var img = canvasObj.toDataURL();
        img = encodeURIComponent(img)
        $.ajax({
      		type: "POST",
      		url: '/test/',
      		data: img,
      		success: function(data){
      			$('#result').after(data);
      		}
      	});
      });

	   </script>
</body>
</html>
